/configuration.properties
/config.properties
/chromedriver.exe
/chromedriver
.DS_Store
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/TestScenarijo.properties
/nbproject/